Source: sophomorix4
Section: admin
Priority: optional
Maintainer: Rüdiger Beck <jeffbeck@web.de>
Build-Depends: debhelper (>= 8.0.0), devscripts
Standards-Version: 3.9.4


Package: sophomorix4
Architecture: all
Depends: libnet-ldap-perl, libunicode-map8-perl
Description: Sophomorix for Samba 4
 sophomorix4 is a user amanagement tool for Samba 4


#Package: sophomorix4-devel
#Architecture: all
#Depends:  sophomorix4 (>=3.0.0)
#Description: Test suite for sophomorix
# Scripts to test sophomorix on a runnig system. These scripts can screw up 
# your server!


#Package: sophomorix4--doc-html
#Architecture: all
#Depends: 
#Description: Html documentation for sophomorix4
# This Package contains the documentation for sophomori4


#Package: sophomorix4-virusscan
#Architecture: all
#Depends: sophomorix2 (>=3.0.0), clamav
#Description: script to scan large amounts of data for viruses with clamscan

