Source: sophomorix4
Section: admin
Priority: optional
Maintainer: Rüdiger Beck <jeffbeck@web.de>
Build-Depends: debhelper (>= 8.0.0), devscripts
Standards-Version: 3.9.4


Package: sophomorix-samba
Architecture: all
Depends: libnet-ldap-perl, libunicode-map8-perl
Description: Sophomorix for Samba 4
 sophomorix-samba is a user management tool for Samba 4


Package: sophomorix-developer
Architecture: all
Depends:  sophomorix-samba (>=3.2.0), ldap-utils, cloc
Description: Test suite for sophomorix-samba
 Scripts to test sophomorix-samba  on a runnig system. These scripts can 
 screw up your server!


#Package: sophomorix-doc-html
#Architecture: all
#Depends: 
#Description: Html documentation for sophomorix-samba
# This Package contains the documentation for sophomorix-samba


#Package: sophomorix-virusscan
#Architecture: all
#Depends: sophomorix-samba (>=3.2.0), clamav
#Description: script to scan large amounts of data for viruses with clamscan

